@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.BandLogo {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 0%, 0.45);
    font-family: 'Special Elite', cursive;
}

.BandLogo::before {
    background: url(../assets/logo_main_transparent.png) no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.62;
    z-index: -1;
}

.MainHeading {
    font-size: 3rem;
}